{
    "presets": [
        // [
        //     "@babel/preset-env",
        //     {
        //         "useBuiltIns": "usage"
        //     }
        // ],
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "plugins": [
        [
            "@babel/plugin-proposal-decorators",
            {
                "legacy": true
            }
        ],
        [
            "@babel/plugin-transform-runtime",
            {
                "absoulutRuntime": true,
                "corejs": 2,
                "helpers": true,
                "regenerator": true,
                "useESModules": false
            }
        ]
    ]
}